/* global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
.clear{
    clear:both
}

/* header */

.header__container{
    width: 70%;
    margin: 0 auto;
    padding: 20px 0;
}
.header__logo h1{
    display: inline-block;
    font-size: 1.7rem;
    font-weight: bold;
    position: absolute;
    top: 3px;

}
.header__logo{
    margin: 0 0 10px;
    position: relative;
}
.logo__container{
    display: inline-block;
    margin: 0 8px;
}
.header__logo i{
    height: 35px;
    width: 35px;
    border-radius:35px;
    border: 1px solid transparent;
    background-color: #002146;
    color: #fbc700;
    font-size: 0.9rem;
    line-height: 30px;
    text-align: center;
    font-weight: 400;
}
.header__nav{
    margin-left: 20px;
}
.header__nav li{
    list-style-type: none;
    display: inline;
    padding: 0px 10px;
    font-size: 0.875rem;
    font-weight: 550;
}
.header__nav li a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
/* end header */
/* carousel */
.carousel{
    height: 75vh;
    background-image: url(./img/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 70px;
}
/* end carousel */
/* info */
.info{
    margin-bottom: 70px ;
}
.info__container{
    width: 70%;
    margin: 0 auto;
}
.info__content,.info__img{
    float: left;
    width: 50%;
    padding: 0 15px;
}

.info__img img{
    display: block;
    height: 100%;
    width: 100%;
}

.info__content h2{
    font-weight: bold;
    font-size: 1.7rem;
    padding-bottom: 20px;
}

.info__content p{
    color: #b5b5b5;
}
.info__content button{
    background: #fdc800;
    font-weight: bold;
    font-size: 1rem;
    border: 1px solid transparent;
    width: 150px;
    height: 45px;
    border-radius: 6px;
    cursor: pointer;
}
/* end info */
/* number */
.number{
    background-color: #f6f6f6;
    padding: 50px 0;
    text-align: center;
    height: 150px;
    
}
.number__container{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 70px;
}

.number__content{
    float: left;
    width: 25%;
    padding: 0 15px;
    position: relative;
}

.content__text{
    float: left;
    width: 75%;
    padding: 0;
    text-align: left;
    position: absolute;
    right: -15px;
    bottom: 5px;
    text-align: left;
}
.content__number{
    float: left;
    width: 25%;
    padding: 0;
}

.content__number h2{
    font-size: 3rem;
}
.content__text h3{
    font-weight: 500;
}
/* end number */
/* class */
.class__container{
    width: 70%;
    margin: 0 auto;
    background-color: white;
}
.class__item{

    background-color: blue;
    padding: 15px;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    text-align: center;
}

.class__itemcontainer{
    
    height: 160px;
    background: white;
    border: 1px solid transparent;
    float: left;
    width: 25%;
    padding: 15px;
    
}

.class__item i{
    text-align: center;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 15px;
}

.class__item h4{
    color: white;
}
/* end class */
/* post */
.post{
    margin-top:70px;
    background-color: #f6f6f6;

}
.post__container{
    width: 70%;
    margin: 0 auto;
 

}
.post__content{
    float: left;
    width: 50%;
    padding: 0 20px;
}

.lastest__img{
    float: left;
    width: 33%;
}
.lastest__img img{
    width: 100%;
    display: block;

}

.lastest__text{
    float:left;
    width: 66%;
}

.imgtext__wraper{
    width: 100%;
    height: 100%;
    padding: 0 10px;
    margin: 15px 0;
}
.imgtext__wraper p:first-of-type{
    color: #adabab;
    margin: 10px 0;
}
.imgtext__wraper h4{
    font-size: 1.3rem;
}
.lastestpost__container{
    background-color: white;
   padding: 15px;
}
.upcomingevent__content{
    background-color: white;
    margin: 15px 0;

}

.content__textupcoming{
    float: left;
    width: 70%;
}
.content__date{
    float: left;
    width: 30%;
}
.upcomingevent__floatwraper{
    height: 100%;
    width: 100%;
    padding: 15px;
}
.upcomingevent__floatwraper h4{
    font-size: 1.3rem;
}
.upcomingevent__floatwraper p:nth-child(2){
    margin: 10px 0;
}

.content__card{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.top__card{
    background-color: #fdc800;
    padding: 5px;
    border-radius: 5px 5px 0 0;
}

.top__card p:first-child{
    font-size: 2rem;
    font-weight: 700;
}

.bot__card{
    background-color: #002146;
    padding: 10px 0px;
    border-radius: 0 0  5px 5px;
    color: white;
    font-weight: bold;
}
.class__button{
    text-align: right;
    padding-top: 30px;
    padding-bottom: 70px;
}
.class__button button{
    background-color: #fdc800;
   width: 110px;
   height: 40px;
   border: 1px solid transparent;
   border-radius: 2px;
   font-weight: bold;
   cursor: pointer;
    
}

.upcoming__header h2,.lastest__header h2{
    margin-bottom: 50px ;
    font-size: 2.5rem;
    margin-top: 90px;
    
}
/* footer */
footer{
    background-color: #002146;
   
}
.footer__wraper{
    width: 100%;
 
    margin:70px;
}
.footer__container{
    width: 70%;
    margin: 0 auto;
    color: white;
    padding: 40px 0;
   
    /* background-color: red; */
}
.footer__content{
    float: left;
    width: calc(100%/3);
    padding-right: 20px

}


.footercontent__wraper li{
    list-style: none;
    padding: 5px 0;
}
.footer__container li a{
    text-decoration: none;
    color: white;
}
.footercontent__wraper h2{
    padding-bottom: 20px ;
}
.footercontent__wraper p{
    padding: 5px 0;
}

.footercontent__wraper p span i{
    color: #fbc700;
}

.footer__copyright{
    width: 70%;
    margin: 50px auto 0;
    color: white;
}


