/* global */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: #faf4f2;
}
a{text-decoration: none;
color: black;}
button{
    cursor: pointer;
}
.clear{clear:both}
/* header start */
.header{
    background-color: #f8e1db;
    padding-left: 80px;
    padding: 20px 80px;
    font-size: 21px;
}
.header li{
    list-style-type: none;
}
.header ul{
    display: inline;
}
.header a{
    text-decoration: none;
    color: black;
    padding-right: 40px;
}
/* header end */
/* carousel start */
.carousel{
    background-image: url(./Image-2/BG.png);
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* carousel end */

/* activities start */
.activities{
    background-color: #faf4f2;
    text-align: center;

}
.activities__header{
    text-align: center;
    font-size: 20px;
    color: #9a9999;
    padding-top: 80px;
    padding-bottom: 30px;
}
.activities__content{
    text-align: center;
}

.content__item{
    padding: 15px;
    float: left;
    width: 25%;
    /* border: 1px solid blue; */
    border-radius: 16px;
    height: 475px;
}
.content__container{
    width: 100%;
    height: 100%;
    background: white;
    padding: 30px;
    border-radius: 20px;
}

.content__img{
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    
}

.content__img img{
    width: 100%;
    display: block;
}

.heart{
    position: absolute;
    right:25px;
    top: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 14px;
}
.heart i{
    color: #e76f51;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}



.content__text h3{
    font-size: 20px;
    padding: 15px;
}
.content__text p{
    margin: 15px 0;
    color: #9a9a9a;
}
.content__text button{
    color: #9c9c9c;
    border-radius: 22px;
    width: 180px;
    height: 40px;
    border: none;
    background: #e8e8e8;
    font-weight: bold;
    margin-top: 15px;
    font-size: 15px;
}
.content__text button:hover{
    background-color: #e76f51;
    color: white;
}

.activities__button button{
    background-color: transparent;
    width: 195px;
    height: 43px;
    color: orange;
    border: solid orange;
    border-radius: 25px;
    text-align: center;
    margin: 25px 0;
    font-weight: bold;
}

/* activities end */
/* contact start */
.contact{
    background-color: #f9e1db;
    color: #8d8d8d;
    width: 100%;
    height: 400px;
    border-radius: 50px;
    margin-top: 50px;
}
.contact__camping{
    background-image: url(./Image-2/mask.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    float: left;
    width: 50%;
    position: absolute;
    height: 400px;
}
.contact__camping img{
    position: relative;
    left: -50px;
    top: 23px
}
.contact__content{
    float: right;
    width: 50%;
    
}

.content__text h2{
    padding-top: 80px;
    font-weight: bold;
    font-size: 35px;
}
.content__text p{
    font-size: 19px;
    margin-bottom: 25px;
}
.content__app,.content__social{
float: left;
width: 50%;
font-size: 20px;
padding: 0;
}
.Content__container h3{
    padding-bottom: 20px;
}
.content__social i{
    color: #e76f51;
    font-weight: bold;
    font-size: 30px;
    margin-left: 0;
    margin-right: 15px;
}
/* contact end */
/* footer start */
.footer{
    background-color: #f9e1db;
    color: black;
    width: 100%;
    height: 400px;
    /* border-radius: 50px; */
    margin-top: 50px;
position: relative;
border-radius: 70px;}
.help__text{
    float: left;
    width: 20%
    ;
    height: 200px;
    padding-top: 100px;
}
.help__text h3{
    padding: 18px 0;
    font-size: 18px;
}
.help__text p{
    padding-bottom: 10px;
}

#footer__text{
    float:left;
    width: 40%;
    word-spacing: 2px;
    line-height: 25px;
    padding: 100px 50px;
}
.footer__end{
    text-align: center;
    font-size: 13px;
    position: absolute;
    bottom: 40px;
    right: 48%;
}
/* footer end */

