/* Global */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*{font-family: 'Times New Roman', Times, serif;}
.clear{clear:both}
/* Header start*/

.header .nav {
  list-style: none;
}
.header .nav li {
  display: inline;
  margin-right: 30px;
}
.header {
  background-color: #f8e1db;
  padding: 20px 80px;
}

.header li a {
  text-decoration: none;
  color: #000000;
}
/* Header end */
/* carousel start */
.carousel {
  background-image: url(./Image-2/BG.png);
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* carousel end */
/* activities start */
.activities {text-align: center;
padding: 80px 0;
background: #faf5f1;}
.activities__title p{
    font-size: 30px;
    font-weight: bold;
    color: #8d8d8d;
}
.activities__item{
  padding: 15px;
  /* background-color: white; */
  width: 25%;
  float: left;
  /* border: 1px solid blue; */
  /* border-radius: 16px; */
}

.item__img{
  border-radius: 16px;
  overflow: hidden;
  height: 200px;
  position: relative;
  margin-bottom: 20px;
}

.item__img img{
  width: 100%;
  display: block;
  /* object-fit: cover; */
  /* height: 100%;
  object-fit: cover; */
}

.item_desc p{
  margin: 15px 0;
}

.item_desc button{
  width: 160px;
  height: 30px;
  border-radius: 20px;
  color: #e8e8e8;
  border: none;
  color: #a396a3;
}
.item__img .heart{
  position: absolute;
  right: 20px;
  top: 20px;
;width: 50px;
height: 50px;
background: rgba(255, 255, 255, 0.7);
border-radius: 8px;

}
.item__img .heart i{
  line-height: 50px;
  color: #e0704a;
}
.item__container{height: 100%;
  width: 100%;
background: white;
padding: 30px;
border-radius: 16px;}



/* activitise end */


