/* global */
*{font-family: 'Times New Roman', Times, serif;}
/* header */
.header img{
    width: 100px;
}
.header h1{
    color: #FFFFFF;
    margin: 21.44px 0;
    background-color: #FF0000;
}
/* end header */
/* carousel */
.carousel ul{
    list-style-type: none;
    font-size: 20px;
    padding: 0;
}
/* end carousel */
/* Intro */
.intro {
    background-color: #A52A2A;
}
.intro h2{
    margin: 33.2px 0;
    font-size: 40px;
    text-align: center;
    color: white;
}
.intro p{
    color: white;
    margin: 30px 0;
    font-size: 30px;
}
.intro p span{
    color: black;
    font-style: italic;
    font-weight: bold;
}
.intro img{width: 50%;}
/* end intro */
/* milestone */
.milestone{
    background-color: #A52A2A;
}
.milestone h1{
    color: white;
    font-size: 40px;
    margin: 26.8px 0;
}
.milestone ul{
    color: white;
    font-size: 25px;
}
.milestone img{
    width: 50%;
}
/* end milestone */
/* table */
.table h1{margin: 21.44px 0;
text-align: center;}
.table table{
    width: 900px;
    height: 800px;
}



/* end table */

