*{font-family: 'Times New Roman', Times, serif;}

body{background-color: gray;}
.new{width: 60%;
background-color: white;
font-size: 20px;}
.new h1{font-size: 40px;
Color: #A52A2A;
text-align: center;}
.new img{width: 100%;}