/* GLOBAL */
* {
  box-sizing: border-box;
}
html,
body {
  font-family: "Times New Roman", Times, serif;
}
.clear {
  clear: both;
}
/* HEADER */

.header img {
  width: 250px;
}

.header ul {
  list-style: none;
  background-color: black;
  padding: 15px 0;
  margin: 5px 0 10px;
}

.header a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.header ul li {
  display: inline;
  margin: 0 10px;
}
/* INTRO */
.intro__text {
  font-size: 20px;
  margin: 25px 0 40px;
}
.intro__text span {
  color: red;
  font-weight: bold;
}
/* .intro__left{
    float:left;
    width: 40%;
}
.intro__right{
    float:left;
    width: 40%;
} */

.intro__left,
.intro__right {
  float: left;
  width: 50%;
}
.intro__smallitem {
  float: left;
  width: 50%;
}
.intro__item {
  padding: 0 15px 25px;
}
.intro__item img {
  width: 100%;
  display: block;
}

/* CAROUSEL */
.carousel {
  background-image: url(../img/slider_1.jpg);
  height: 550px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* PRODUCTS */
.products {
  margin-bottom: 70px;
}
.products__item {
  float: left;
  width: 25%;
  padding: 0 10px;
}
.products__item img {
  width: 100%;
}

.products h2 {
  text-align: center;
  font-size: 30px;
}
.products__item h3 {
  font-size: 25px;
}
.products__item p {
  font-size: 17px;
}
.products__item button {
  background-color: red;
  border: 1px solid red;
  border-radius: 3px;
  color: white;
  padding: 5px 10px;
  margin-top: 15px;
}
/* BANNER */
.banner {
  background-image: url(../img/nature.jpg);
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.banner__circle {
  width: 300px;
  height: 300px;
  /* rgba */
  background-color: rgba(131, 41, 39, 0.8);
  color: white;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  top: 15px;
  left: 300px;
}

.banner__circle p {
  font-size: 20px;
  margin: 0 0 20;
}

.banner__circle p:first-child{
  font-size: 30px;
  margin: 50px 0 0;
}
.banner__circle p:nth-child(2){
  font-size: 80px;
  margin: 0;
}
/* Services */
.services{
  text-align: center;
  margin: 20px 0 10px;
}

.services__content{
  width: 70%;
  margin: auto;
}

.services__item{
  float: left;
  width: 33%;
  padding: 0 10px;
}

.services__item i{
  font-size: 40px;
}

.services__item{
  margin: 10px 0;

}
.services__item p{
  margin: 0;
}
/* Footer */
.footer__content{
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px 0 20px;
}

.footer h2,.footer p{
  margin: 0;
}

.footer h2{
  font-size: 30px;
}
