body{
    background: black;
}
.item{
    width: 200px;
    height: 200px;
    background: red;
    color: red;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    animation-name: animate_2;
    animation-duration: .5s;
    animation-iteration-count: infinite;

    
}

/* .item:hover{
    transform: translateY(200px);
    /* background: white;
    color: black; */


@keyframes animate_1 {
    from{
        
        transform: translateX(0) translateY(0) scale(-0.5)
       

    }
    to{
        transform: translateX(400px) translateY(400px) scale(1.5);
        background-color: blue;
    }
}

@keyframes animate_2{
    0%{
        background:red ;
        transform: scale(0.2) tran slateX(0);
    }
    20%{
        background:green;
    }
    40%{
        background:orange scale(0.2) translateX(200px);
    }
    60%{
        background: blue;

    }
    80%{
        background:purple scale(0.2) translateX(0);
    }
    100%{
        background:white scale(1);

    }
}