.header{
  padding: 100px;
  background: green;
  position: relative;

}
.container{
  height: 500px;
  width: 100%;
  background: black;
  /* position: relative; */
}
.item-1{
  height: 200px;
  width: 200px;
  background: red;
  /* position: absolute;
  bottom: -50%;
  right: 50%; */
  position: absolute;
  bottom: 0;
  right: 0;



}
.item-2{
  height: 200px;
  width: 200px;
  background: blue;
  
}