/* Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
}
.heading {
  text-align: center;
}
.heading h2 {
  font-size: 40px;
  color: #ff4f81;
  font-weight: bold;
  letter-spacing: 0.5px;
}
.heading p {
  font-size: 17px;
  letter-spacing: 4px;
  color: black;
}
.heading p::after {
  content: "";
  width: 70px;
  height: 2px;
  background-color: black;
  display: block;
  margin: 20px auto;
}

.section {
  padding: 5rem 0;
}

.heading--white p {
  color: white;
}
/* header */

.header__top {
  font-size: 14px;
  background-color: #ff4f81;
}
.header__top a {
  text-decoration: none;
  color: white;
}
.header__right a {
  width: 30px;
  height: 30px;
  background: black;
  border: 1px solid black;
  display: inline-block;
  line-height: 30px;
  text-align: center;
  margin-left: 0.25rem;
}
.header__top a {
  transition: 0.5s;
}
.header__left:hover a {
  color: black !important;
}

.header__right a:hover {
  background-color: #ff4f81;
  border-color: white;
}
.navInstruction a {
  color: black;
  text-align: center;
}

.navInstruction .navbar-brand p:first-child {
  font-size: 36px;
  font-weight: 700;
}
.navInstruction .navbar-brand p:last-child {
  font-size: 11px;
  color: #ff4f81;
  letter-spacing: 3px;
  font-weight: 700;
}
.navInstruction .navbar-brand p:first-child i {
  transform: skewX(-10deg);
}

#navbarInstruction .nav-item .nav-link {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: bold;
  transition: all 0.5s;
}
#navbarInstruction .nav-item {
  margin: 0 15px;
}
#navbarInstruction .nav-item:hover .nav-link {
  color: #ff4f81;
}
#navbarInstruction .nav-item::after {
  content: "";
  width: 0;
  height: 2px;
  background: #ff4f81;
  display: block;
  transition: all 0.5s;
}
#navbarInstruction .nav-item:hover::after {
  width: 100%;
}

#navbarInstruction .nav-item.active .nav-link {
  color: #ff4f81;
}
#navbarInstruction .nav-item.active::after {
  content: "";
  width: 100%;
  height: 2px;
  background: #ff4f81;
  display: block;
}
#navbarInstruction .dropdown-menu {
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.6);
}

#navbarInstruction .dropdown-item {
  color: white;
  transition: 0.5s;
  text-align: left;
}
#navbarInstruction .dropdown-item:focus,
#navbarInstruction .dropdown-item:hover {
  background-color: transparent;
  color: #ff4f81;
}
/* end header */
/* carousel */
#carouselCyber .carousel-caption {
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#carouselCyber .carousel-caption h1 {
  font-size: 52px;
}
#carouselCyber .carousel-caption p {
  letter-spacing: 4px;
  line-height: 1.8rem;
  width: 70%;
  margin: 0 auto 25px;
  font-weight: 300;
}

#carouselCyber .carousel-caption button {
  padding: 11px 20px;
  color: white;
  border: 1px solid white;
  border-radius: 0;
  letter-spacing: 2px;
  font-size: 14px;
  transition: all 0.5s;
}
#carouselCyber .carousel-caption button:hover {
  background-color: #ff4f81;
  border-color: #ff4f81;
}
/* welcome */

.welcome__content > p {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 1rem 0 5rem;
  font-size: 15px;
  color: #999;
  letter-spacing: 1px;
  line-height: 1.8em;
}

.welcome__item i {
  font-size: 2rem;
}
.welcome__item h3 {
  color: #ff4f81;
  font-weight: bold;
  font-size: 1.8rem;
  margin: 1rem 0;
}
.welcome__item h4 {
  font-size: 1rem;
  margin: 1rem 0 0.2rem;
  color: black;
  font-weight: bold;
}
.welcome__item p {
  color: #999;
  font-size: 15px;
  line-height: 1.8em;
  margin: 10px 0 0;
  letter-spacing: 1px;
}
/* OURSTATS */
.ourStats {
  background-image: url(../img/banner2.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.ourStats__content {
  text-align: center;
}
.ourStats__item i {
  font-size: 2.5rem;
  color: white;
}
.ourStats__item h3 {
  font-size: 1.3rem;
  letter-spacing: 3px;
  font-weight: bold;
  margin: 30px 0 20px;
  color: #ff4f81;
}
.ourStats__item p {
  color: white;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 2px;
}
/* Offer */
.offer__col {
  padding: 15px;
}

.offer__item {
  padding: 25px 40px;
  box-shadow: 0px 1px 8px 0px rgba(158, 158, 158, 0.75);
  text-align: center;
  background-color: white;
  transition: all 0.5s;
}
.offer__item:hover {
  background-color: #12ccc3;
}

.offer__item i {
  color: #ff4f81;
  font-size: 40px;
}
.offer__item h3 {
  font-size: 20px;
  color: black;
  margin: 25px 0 20px;
}
.offer__item p {
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #6b6b6b;
}
/* feed back */
.feedback {
  background-image: url(../img/banner3.jpg);
  background-attachment: fixed;
  background-size: cover;
  position: center;
  background-repeat: no-repeat;
}
.feedback__content{
    box-shadow: 0px 1px 7px #8e8e8e;
    background-color: rgba(0, 0, 0, 0.47);
    padding: 1rem;
}

.feedback__content .item{
    color: white;
    padding: 1rem;
}
.feedback__content .item .feedback__top{
    padding: 1rem 1.5rem;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.47);
    position: relative;
}

.feedback__top::after{
    content: '';
    border-top:9px solid rgba(0, 0, 0, 0.47);
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    position: absolute;
    top:100%;
    left: 29%;

}
.feedback__bottom{
    display: flex;
    justify-content: center;
    width: 55%;
    margin: 2rem auto 0;
}
.feedback__content .feedback__bottom img{
    width: 28%;
    display: inline-block;
}

.feedback__name{
    margin-left: 5px;
}
.feedback__name p{
    margin: 0;
    color: #ff4f81;
}
.feedback__name p:first-child{
    color: white;
    margin: 0;
    font-weight: bold;
    font-size: 1.1rem;
}

.feedback__content .owl-theme .owl-dots .owl-dot span{
background-color: #ff4f81;
opacity: 0.5;
}
.feedback__content .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
opacity: 1;
}
.feedback__content .owl-theme .owl-dots .owl-dot:focus{
    outline: none;
}

/* news */
.new__content img{
    border: 2px solid #dedede;
}

.new__content h3{
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
}
.new__content a{
    text-decoration: none;
    color: black;
    transition: all 0.5s;
}

.new__content a:hover{
    color: #ff4f81;
}

.new__content h4{
    margin: 1rem 0;
    font-size: 1rem;
    color: #ff4f81;
    font-weight: bold;
    letter-spacing: 1px;
}
.new__content p{
    color: #999;
    margin-top: 1rem;
    line-height: 1.8rem;
    font-size: 0.9rem;
}

.new__content .row:last-child{
    margin-top: 5rem;
}

/* Modal */
#exampleModal h5{
    font-size: 29px;
    color: #ff4f81;
    font-weight: bold;
}

#exampleModal p{
    font-size: 14px;
    color: #777;
    line-height: 1.8em;
    padding: 20px 0;
}

#exampleModal .modal-dialog{
    max-width: 600px;
}

/* footer */
footer{
    background-color: #141415;
    padding-top: 5rem;
}

.footer__top h3{
    font-size: 24px;
    font-weight: bold;
    color: #ff4f81;
    margin-bottom: 1.5rem;
    letter-spacing: 1px;

}

.footer__top p{
    color: #8b8b96;
    line-height: 2em;
    margin-bottom: 2rem;
    letter-spacing: 1px;
    font-size: 15px;
}
.footer__link{
    margin-bottom: 1rem;
}
.footer__link i{
    color: #ff4f81;
    margin-right: 1rem;
}

.footer__link a,.footer__contact a{
    color: #8b8b96;
    text-decoration: none;
    font-size: 15px;
    line-height: 1.5em;
    letter-spacing: 1px;
    transition: all .5s;
}
.footer__link a:hover,.footer__contact a:hover{
    color: white;
}

.footer__contact i{
    color: #fff;
    width: 32px;
    height: 32px;
    border: 1px solid #4b4b50;
    line-height: 32px;
    text-align: center;
    margin-right: 1rem;
}

.footer__contact{
    margin-bottom: 1rem;
}

.footer__form label{
    color: #ff4f81;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    }
.footer__form input{
    padding: 14px;
    border: none;
    border-radius: 0;
    color: #888;
    letter-spacing: 1px;
    height: auto;
}

.footer__form button{
    padding: 12px 35px;
    background-color: #ff4f81;
    outline: none;
    color: #fff;
    letter-spacing: 1px;
    border-radius: 0;
    transition: all 0.5s;
}

.footer__form button:hover{
    background-color: #ec1955;
    color: white;
}

.footer__form{
    margin: 3rem 0;
}

.footer__bottom{
    color: white;
    background-color: #0f0f10;
    text-align: center;
    padding: 1rem 0;
    letter-spacing: 1px;
}
.footer__bottom a{
    text-decoration: none;
    color: #ff4f81;
    transition: all 0.5s;
}

.footer__bottom a:hover{
    color: white;
}

/**************** RESPONSIVE *********************/
/* HEADER */

@media screen and (max-width: 575.98px) {
  .header__left a{
    display: block;
  }
  
}

@media screen and (max-width:320px) {
  .header__right{
    width: 35%;
    text-align: center;
  }
  .header__right a{
    margin-bottom: 5px;
  }


}

.header__right a{
  animation: name duration timing-function delay iteration-count direction fill-mode;}


  