.desktop{
    background-color: red;
}

@media screen and (max-width:1200px){
    .desktop{
        background-color: purple;
    }
}
 
@media screen and (max-width:992px){
    .desktop{
        background-color: pink;
    }
}
    
}
