* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* start header */
.header{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.header a{
    color: white;
}

.header .navbar .nav-item.active a{
color: #35a22c;
}
.header .navbar .nav-item.active a::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #35a22c;
    transition: 0.3s;
}

.header .navbar .nav-item a{
    position: relative;
    margin-right:30px ;
}

.header .navbar .nav-item a::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #35a22c;
    transition: 0.3s;
}

.header .navbar .nav-item a:hover{
    color: #35a22c;
}

.header .navbar .nav-item a:hover::before,header .navbar .nav-item.active a{
    width: 100%;
}
/* end header */
/* start carousel */
#carousel .carousel-item .item-bg {
  height: 100vh;
  min-height: 500px;
}
.carousel-indicators li {
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}
.carousel-caption img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.carousel-caption {
  bottom: 50%;
  transform: translateY(50%);
}

.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(39, 43, 54, 0.5);
}
.carousel-caption img {
  animation-delay: 0;
  
}
.carousel-caption h5 {
  animation-delay: 0.5s;
}
.carousel-caption p {
  animation-delay: 1s;
}

.carousel-indicators .active{
    background-color: #35a22c;
}
.carousel-indicators{
    bottom: 50px;
}
.carousel-indicators li{
    height: 13px;
    width: 13px;
}
/* end carousel */

/* start projects */
.projects__item{
  text-align: center;
  margin: 0 180px;
}
#Projects .container{
  padding: 48px 15px;
}

.projects__item h2{
  font-size: 36px;
  line-height: 42px;
  color: #1a1d2d;
  font-weight: 600;
  margin: 0 0 8px;
}
.projects__item p{
  color: #585858;
  line-height: 24px;
  margin: 16px 0;
}

#Projects .nav{
    justify-content: center;
}

#Projects .card{
  border-radius: 16px;
  overflow: hidden;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#Projects .card-body{
  border: 2px solid transparent;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px ;
  border-top: transparent;
  transition: all .5s;

}

#Projects .card:hover .card-body{
  border-color: #35a22c;
  border-top: transparent;
}
#Projects .card:hover h5{
  color: #35a22c;
}

/* end projects */
