/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
html {
  font-size: 18px;
}

.container{
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}
/* header */
header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border: 1px solid hsla(0, 0%, 100%, 0.4)
  ;
  z-index: 1000;
}
.header__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;

}
.header__container nav a {
  margin-right: 15px;
  text-transform: uppercase;
  font-weight: 500;
  color: white;
  transition: 0.5s;
}
.header__container nav a:hover {
  color: #e62b4a;
}

.header__container .active {
  color: #e62b4a;
}
.header__container .logo {
  font-weight: 500;
  font-size: 2rem;
  color: white;
}
/* flex mặc định trục chính sẽ là chiều ngang
justify-content là trục chính, 
align-item là trục phụ 
*/
/* end header */
/* carousel */
.carousel {
  height: 100vh;
  min-height: 500px;
  background-image: url(./img/home_slider.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__container {
  width: 40%;
  height: max-content;
  text-align: center;
}
.carousel__container p {
  font-size: 1.2rem;
  color: white;
  display: block;
}
.carousel__container h2 {
  font-size: 3rem;
  color: white;
  display: block;
  font-weight: 700;
  margin: 20px 0;
}

.carousel__container button {
  background-color: #e62b4a;
  color: white;
  width: 150px;
  height: 60px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s;
}
.carousel__container button:hover {
  background-color: white;
  color: black;
}

.carousel__container i {
  margin-top: 20px;
  font-size: 2rem;
  
  animation-name: animate_arrow;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  color: white;
}


/* end carousel */
/* service */
.service{
  padding: 80px 0;
  background-color: black;
}
.service .service__slider{
  width: 100%;
}

.service .slider__item{
  padding: 15px;
  height: 280px;
  color: #848482;
}

.service .slider__item i{
  font-size: 2.5rem;
  font-weight: 600;
}

.service .slider__item .item__wraper p{
  font-size: 100rem;

}
.item__wrapper{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  position: relative;
}
.item__wrapper::after{
  content:"";
  display: block;
  height: 0;
  width: 5px;
  background-color: red;
  position: absolute;
  right:0;
  top:50%;
  transform: translateY(-50%);
  transition: .5s;

  
}

.item__wrapper:hover::after{
  height: 100%;
}
.service__header{
  text-align: center;
}
.service__header .text__red{
  color: #e62b4a;
  font-size: 0.8rem;
  margin: 0 0 20px;
}
.service__header h1{
  color: white;
  font-size: 2.2rem;
}

.service__header .text__gray{
  color: #888888;
  margin: 20px 0;
  font-size: 0.8rem;
}

.click-content .slick-dots li button:before{
  color: #fff;
  font-size: 14px;
}
.slick-content .slick-dots li.slick-active button:before{
  color: #e62b4a;
}

.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 15px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: 1;
    color: red;
}
/* end service */
/* showcase */
/* end showcase */
/* blog */
.blog{
  padding: 80px;
}

.blog__header{
  text-align: center;
}
.blog__header .blog__firstp{
  font-size: 0.8rem;
  margin-bottom: 20px;
  color: #888888;

}
.blog__header h1{
  font-size: 2.5rem;
}
.blog__header .blog__secondp{
  font-size: 0.8rem;
  margin: 20px 0 0;
  color: #888888;
}
.blog__list{
  margin-top: 60px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  /* aspect-ratio: 1 / 1; */
}
.blog__list img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  filter: grayscale(50%) contrast(50%);
}
.blog__item{
  position: relative;
}
.item__overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(230, 43, 74, 0.6);
  opacity: 0;
  transition: 0.8s;
}
.blog__item:hover .item__overlay{
  opacity: 1;
}
.item__overlay .search{
  width: 30px;
  height: 30px;
  background: white;
  position: absolute;
  top: 80px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .8s;
  opacity: 0;
}
.blog__item:hover .search{
  top: 30px;
  opacity: 1;
}


.blog__item-1{
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}
.voerlay__title{
  color: white;
  position: absolute;
  left: 30px;
  bottom: 0px;
  opacity: 0;
  transition: 0.8s;
}
.blog__item:hover .voerlay__title{
opacity: 1;
bottom: 30px;
}


.blog__item-10{
  grid-column: 3 / span 2;
  grid-row:  3 / span 2;
}
/* end blog */
/* number */
.number__list{
  display: flex;
  justify-content: space-around;
  
  color: white;
  text-align: center;
  padding: 100px 0;
}
.number{
  background-color: black;
}

.number__item span{
  font-size: 3rem;
}
.number__item p{
  font: 1rem;
  color: #888888;
  padding-top: 20px;
}
/* end number */
/* experience */
.experience{
  text-align: center;
  background-image: url(./img/bussiness_img_1.jpg);
  background-attachment: fixed;
  background-size: cover;
  padding: 100px 0;
}
.experience__header .text__red{
  color: #e62b4a;
  font-size: 0.8rem;
  margin: 0 0 20px;
}
.experience__header h1{
  color: white;
  font-size: 2.2rem;
}

.experience__header .text__gray{
  color: #888888;
  margin: 20px 0;
  font-size: 0.8rem;
}
.experience__video{
  width: 70%;
  margin: 0 auto;
}
.experience__video video{
  width: 100%;
}
/* end experience */
/* contact */
.contact{
  text-align: center;
  padding: 100px 0;
}
.contact__header h2{
  font-size: 2.8rem;
  margin-bottom: 20px;
}
.contact__header p{
  font-size: 0.8rem;
  color: #888888;
}
.contact__content{
  display: flex;
  align-items: center;
  width: 70%;
  margin: 30px auto 0;
}
.content__textbox{
  display: flex;
  flex-direction: column;
  padding:15px;
  width: 40%;
  height: 100%;
}
.content__textbox input{
  margin: 0 0 30px;
  padding: 15px;
}
.content__textbox textarea{
  margin-bottom: 30px;
  padding: 15px;
}
.content__map{
  width: 60%;
}
.content__map iframe{
  width: 100%;
}
.content__textbox button{
  padding: 20px 30px;
  border: 1px solid black;
  background-color: black;
  color: white;
  transition: all 0.5s;
}
.content__textbox button:hover{
  border-color: #e62b4a;
  background-color: #e62b4a;
}

/* end contact */
/* footer  */
footer{
  background-color: black;
  margin-bottom: 0;

}
.footer_content{
  padding: 100px 0;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_content{
  font-size: 14px;
}

.footer__icon a{
  width: 54px;
  height: 54px;
  display: inline-block;
  color: white;
  border-radius: 50%;
  line-height: 57px;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  font-size: 16px;
  margin-left: 5px;
  text-decoration: none;
  transition: all 0.5s;
}
.footer__icon a:hover{
  border-color: #e62b4a;
  background-color: #e62b4a;
}

/* end footer */

/* back-to top */
.back-to-top{
bottom: 100px;
right: 100px;
background: rgba(0,0,0,0.25);
border-radius: 8px;
position: fixed;
width: 50px;
height: 50px;
scroll-behavior: smooth;
display: flex;
justify-content: center;
align-items: center;
color: white;
visibility: hidden;
opacity: 0;
}
.cd-top--is-visible { 
  visibility: visible;
  opacity: 1;
}

.cd-top--fade-out { 
  opacity: .5;
}

body{
  margin-bottom: 0;
  padding-bottom: 0;
}
@keyframes animate_arrow {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {transform: translateY(60px);
    opacity: 0;
  }
}