/* global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
.clear{
    clear:both
}

/* header */

.header__container{
    width: 70%;
    margin: 0 auto;
    padding: 20px 0;
}
.header__logo h1{
    display: inline-block;
    font-size: 1.7rem;
    font-weight: bold;
    position: absolute;
    top: 3px;

}
.header__logo{
    margin: 0 0 10px;
    position: relative;
}
.logo__container{
    display: inline-block;
    margin: 0 8px;
}
.header__logo i{
    height: 35px;
    width: 35px;
    border-radius:35px;
    border: 1px solid transparent;
    background-color: #002146;
    color: #fbc700;
    font-size: 0.9rem;
    line-height: 30px;
    text-align: center;
    font-weight: 400;
}
.header__nav{
    margin-left: 20px;
}
.header__nav li{
    list-style-type: none;
    display: inline;
    padding: 0px 10px;
    font-size: 0.875rem;
    font-weight: 550;
}
.header__nav li a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
/* end header */
/* carousel */
.carousel{
    height: 75vh;
    background-image: url(./img/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 70px;
}
/* end carousel */
/* info */
.info{
    margin-bottom: 70px ;
}
.info__container{
    width: 70%;
    margin: 0 auto;
}
.info__content,.info__img{
    float: left;
    width: 50%;
    padding: 0 15px;
}

.info__img img{
    display: block;
    height: 100%;
    width: 100%;
}

.info__content h2{
    font-weight: bold;
    font-size: 1.7rem;
    padding-bottom: 20px;
}

.info__content p{
    color: #b5b5b5;
}
.info__content button{
    background: #fdc800;
    font-weight: bold;
    font-size: 1rem;
    border: 1px solid transparent;
    width: 150px;
    height: 45px;
    border-radius: 6px;
    cursor: pointer;
}
/* end info */
/* number */
.number{
    background-color: #f6f6f6;
    padding: 50px 0;
    text-align: center;
    height: 150px;
    
}
.number__container{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 70px;
}

.number__content{
    float: left;
    width: 25%;
    padding: 0 15px;
    position: relative;
}

.content__text{
    float: left;
    width: 75%;
    padding: 0;
    text-align: left;
    position: absolute;
    right: -15px;
    bottom: 5px;
    text-align: left;
}
.content__number{
    float: left;
    width: 25%;
    padding: 0;
}

.content__number h2{
    font-size: 3rem;
}
.content__text h3{
    font-weight: 500;
}
/* end number */
/* class */
.class{
    padding: 0 70px;
    margin-top: 70px;
}
.class__container{
    width: 70%;
    margin: 0 auto;
}

.content1__box{
    height: 90px;
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: #002145;
    color: white;
    text-align: center;
    float: left;
    width: 20%;
    margin: 0 15px 30px;
    
}


.box1__container{
    height: 100%;
    width: 100%;
    position: relative;

}
.content1__box i{
    font-size: 1.7rem;
    position: absolute;
    right: 80px;
    top: 20px
}

.content1__box h4{
    position: absolute;
    right: 60px;
    top: 55px;
    font-weight: 500; 
}


.content2__box{
    height: 90px;
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: #002145;
    color: white;
    text-align: center;
    float: left;
    width: 20%;
    margin: 0 15px;
    
}


.box2__container{
    height: 100%;
    width: 100%;
    position: relative;

}
.content2__box i{
    font-size: 1.7rem;
    position: absolute;
    right: 80px;
    top: 20px
}

.content2__box h4{
    position: absolute;
    right: 60px;
    top: 55px;
    font-weight: 500; 
}
/* end class */
/* post */
.post{
    margin-top:70px;
    background-color: #f6f6f6;
}
.post__container{
    width: 70%;
    margin: 0 auto;
    background-color: #f6f6f6;
}
.post__content{
    float: left;
    width: 50%;
}